@use './var.scss' as var;
@use './mixin' as mixin;

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-logo {
    img {
        width: 90%;
    }
}

.header-nav {
    font-size: 1.8rem;
    font-weight: 600;

    &__list li {
        position: relative;
        padding: 0 1rem;

        &::before {
            // content:"";
            // display: block;
            // width: 100%;
            height: 0px;
            background-color: var.$baseBlue;
            // position: absolute;
            top: -96%;
            left: 0;
            // transition: all 0.3s ease;
            @include mixin.pseudo-element-slide
        }

        &:hover::before {
            height: 0.7rem;
        }

    }

    &__btn {
        padding: 1rem 2rem;
        color: var.$baseBlue;
        background-color: var.$bcgGrey;
        border: none;
        font-weight: 600;
        font-size: 1.3rem;
        position: relative;

        span,
        i {
            position: relative;
            z-index: 999;
        }

        i {
            font-size: 1.8rem;
        }

        &::before {
            content: "";
            display: block;
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease;
        }

        &:hover::before {
            width: 100%;
            background-color: var.$baseBlue;
        }

        &:hover {
            color: white;
        }
    }

    &__connection {
        color: var.$secondaryBlue;
        cursor: pointer;
        position: relative;
        padding: 0 1rem;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            background-color: var.$secondaryBlue;
            position: absolute;
            top: -70%;
            left: 0;
            transition: all 0.3s ease;
        }

        &:hover::before {
            height: 0.7rem;
        }
    }

}

/*************** Main**************/
.side-nav {
    font-weight: 600;

    &__title {
        font-size: 2rem;
        font-weight: 600;
    }

    &__list {
        text-transform: uppercase;
    }

    &__locations {
        gap: 2.2rem;

        li:hover .icon-location {
            filter: brightness(2)
        }

        a {
            padding: 1.1rem;
            background-color: #f4f3f3;
        }

        .icon-location {
            font-size: 1.5rem;
            color: var.$secondaryBlue;
        }

        span {
            color: var.$baseBlue;
        }

    }

    &__map {
        color: #e22c3f;
        padding: 5px;
        width: 40%;
        position: relative;
        font-size: 1.1rem;
        font-weight: 500;


        &::before {
            content: "";
            display: block;
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease;
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
            background-color: #e22c3f;
        }

        &:hover {
            color: white;
        }
    }

    &__services {
        width: 95%;

        li {
            width: 95%;
            border-top: 2px solid var.$bcgGrey;
            padding: 1.5rem 0;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                position: absolute;
                top: -2px;
                left: 0;
                transition: all 0.3s ease;
                background-color: var.$baseBlue;
            }

            &:hover::before {
                width: 100%;
            }

            &:hover svg {
                fill:white;
                background-color: var.$baseBlue;
            }
        }

        a {
            gap: 1rem;
        }

        svg {
            width: 20%;
            background-color: var.$bcgGrey;
            border-radius: 50%;
            padding: 1rem;
        }

        span {
            font-size: 1.2rem;
            font-weight: 400;
            width: 50%;
        }
    }
}

/** News */
.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotlight__article {

    .img-wrapper {
        overflow: hidden;
    }

    img {
        width: 100%;
        position: relative;
        top: -2px;
        left: 0;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

    }

    @at-root .spotlight__content {
        position: relative;
        background-color: white;
        padding: 4rem 3rem;
        width: 80%;
        left: 50%;
        transform: translateX(-50%) translateY(-20%);

        h2 {
            position: absolute;
            padding: 1.1rem 2rem;
            background-color: var.$bcgBlue;
            font-size: 1.6rem;
            top: -20px;
            left: 30px;
            transform: skewY(-5deg);
            color: white;
            font-weight: 600;
        }

        h3 {
            font-size: 4.2rem;
            font-weight: 900;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
        }

    }

}

.actuality {
    display: flex;
    justify-content: space-between;

}

.actuality__article {
    width: 43%;

    .actuality__img {
        position: relative;

        .img-wrapper {
            overflow: hidden;
        }

        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background-color: var.$bcgGrey;
            position: absolute;
            right: -5rem;
            top: 0;
        }
    }

    img {
        width: 100%;
        position: relative;
        top: -2px;
        left: 0;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

    }

    @at-root .actuality__content {
        position: relative;
        background-color: white;
        padding: 2.5rem 1.2rem;
        width: 85%;
        left: 50%;
        transform: translateX(-50%);

        h2 {
            position: absolute;
            padding: 1.1rem 2rem;
            background-color: var.$bcgBlue;
            font-size: 1rem;
            top: -20px;
            left: 30px;
            transform: skewY(-5deg);
            color: white;
            font-weight: 600;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 800;
        }

    }
}

/*********** aside *****************/

.aside-news__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5rem;
}

.aside-news__item {
    display: flex;
    border-bottom: 1px solid var.$bcgGrey;
    gap: 1.3rem;
    padding: 1.5rem 0 2.5rem;
    position: relative;

    &::after {
        background: #e22c3f;
        bottom: 0;
        content: "";
        left: 1.6rem;
        position: absolute;
        top: 9.4rem;
        width: 0.1rem;
    }

    .date,
    .month {
        font-size: 2.8rem;
        font-weight: 600;
        margin: 0;
        height: 2.8rem;
        line-height: 2.8rem;
    }

    .content-wrap {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .content {
        font-size: 1.5rem;
    }

    .aside__showmore-btn {
        color: #e22c3f;
        padding: 3px 10px;
        width: 40%;
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;


        &::before {
            content: "";
            display: block;
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease;
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
            background-color: #e22c3f;
        }

        &:hover {
            color: white;
        }

    }

    .aside-news__item-img {
        width: 100%;
        margin-top: 1rem;
    }


}

/*******************main end**************/
/*******************footer ***************/

.footer {
    display: flex;

    @at-root &-left {
        flex: 2.5;
        background-color: #fafbfb;

        .select-wrapper {
            padding: 50px 0 40px 140px;
            position: relative;

            img {
                width: 14.8rem;
            }

            select {
                border: none;
                outline: none;
                background-color: var.$bcgGrey;
                width: 35%;
                margin-left: 3%;
                padding: 1.6rem 4rem 1.6rem 2rem;
                font-size: 1.3rem;
                font-weight: 500;
                appearance: none;

                option {
                    background-color: #fff;
                }
            }

            i {
                font-size: 2rem;
                color: #e22c3f;
                position: absolute;
                pointer-events: none;
                left: 58%;
                top: 42%;
            }

        }

        .related-services {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 2px solid var.$bcgGrey;
            padding-bottom: 5rem;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30.5%;
                position: relative;

                &:not(:last-of-type) {
                    border-right: 1px solid var.$bcgGrey;
                }

                span {
                    font-size: 1.5rem;
                    font-weight: 700;
                    display: block;
                }

                a {
                    font-size: 1.1rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    color: #e22c3f;
                    padding: 8px 10px;
                    position: relative;
                    z-index: 999;


                    &::before {
                        content: "";
                        display: block;
                        width: 0%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all 0.3s ease;
                        z-index: -1;
                        background-color: #e22c3f;
                    }

                    &:hover::before {
                        width: 100%;
                        background-color: #e22c3f;
                    }

                    &:hover {
                        color: white;
                    }
                }


            }
        }

        .footer-nav {
            font-weight: 700;
            text-transform: uppercase;

            &__list {
                display: flex;
                justify-content: center;
                padding: 2.4rem 7rem 2.6rem;
                gap: 4rem;

                li {
                    cursor: pointer;
                    font-size: 1.1rem;
                    &:hover {
                        color:#e22c3f;
                    }
                }
            }
        }

    }


    &-right {
        flex: 1.5;
        background-color: var.$baseBlue;
        color: #fff;
        padding: 4rem 4rem 1rem;
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;

        p {
            margin-bottom: 1.5rem;
        }

        input[type='email']{
            border: none;
            outline: none;
            width: 63%;
            padding: 1.8rem;
            margin-right: 1.5rem;
        }

        button {
            padding: 1.8rem;
            color: white;
            background-color: #e22c3f;
            border:none;
            outline: none;
            font-weight: 700;
            position: relative;

            span {
                position: relative;
                z-index: 999;
            }
          
            &::before {
                content: "";
                display: block;
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease;
                background-color: white;
            }
        
            &:hover::before {
                width: 100%;
            }
        
            &:hover {
                color: #e22c3f;
            }
        }

        p:nth-of-type(2){
            margin-top: 3rem;
        }
        .social-icons {
            display: flex;
            font-size: 2rem;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 3rem;
        }

        p:nth-of-type(3){
            font-size: 1.6rem;
        }
        & > a {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: #e22c3f;
            font-weight: 400;
            position: relative;
            z-index: 999;
            padding: 1rem;

            &::before {
                content: "";
                display: block;
                width: 0%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease;
                z-index: -1;
            };

            &:hover::before {
                width: 100%;
                background-color: #e22c3f;
            }
        
            &:hover {
                color: white;
            }
        

        }
    }
}