html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-logo img {
  width: 90%;
}

.header-nav {
  font-size: 1.8rem;
  font-weight: 600;
}
.header-nav__list li {
  position: relative;
  padding: 0 1rem;
}
.header-nav__list li::before {
  height: 0px;
  background-color: #071f32;
  top: -96%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease;
}
.header-nav__list li:hover::before {
  height: 0.7rem;
}
.header-nav__btn {
  padding: 1rem 2rem;
  color: #071f32;
  background-color: #e8e8e8;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
.header-nav__btn span,
.header-nav__btn i {
  position: relative;
  z-index: 999;
}
.header-nav__btn i {
  font-size: 1.8rem;
}
.header-nav__btn::before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.header-nav__btn:hover::before {
  width: 100%;
  background-color: #071f32;
}
.header-nav__btn:hover {
  color: white;
}
.header-nav__connection {
  color: #354bcf;
  cursor: pointer;
  position: relative;
  padding: 0 1rem;
}
.header-nav__connection::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: #354bcf;
  position: absolute;
  top: -70%;
  left: 0;
  transition: all 0.3s ease;
}
.header-nav__connection:hover::before {
  height: 0.7rem;
}

/*************** Main**************/
.side-nav {
  font-weight: 600;
}
.side-nav__title {
  font-size: 2rem;
  font-weight: 600;
}
.side-nav__list {
  text-transform: uppercase;
}
.side-nav__locations {
  gap: 2.2rem;
}
.side-nav__locations li:hover .icon-location {
  filter: brightness(2);
}
.side-nav__locations a {
  padding: 1.1rem;
  background-color: #f4f3f3;
}
.side-nav__locations .icon-location {
  font-size: 1.5rem;
  color: #354bcf;
}
.side-nav__locations span {
  color: #071f32;
}
.side-nav__map {
  color: #e22c3f;
  padding: 5px;
  width: 40%;
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
}
.side-nav__map::before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: -1;
}
.side-nav__map:hover::before {
  width: 100%;
  background-color: #e22c3f;
}
.side-nav__map:hover {
  color: white;
}
.side-nav__services {
  width: 95%;
}
.side-nav__services li {
  width: 95%;
  border-top: 2px solid #e8e8e8;
  padding: 1.5rem 0;
  position: relative;
}
.side-nav__services li::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
  transition: all 0.3s ease;
  background-color: #071f32;
}
.side-nav__services li:hover::before {
  width: 100%;
}
.side-nav__services li:hover img {
  background-color: #071f32;
}
.side-nav__services a {
  gap: 1rem;
}
.side-nav__services img {
  width: 20%;
  background-color: #e8e8e8;
  border-radius: 50%;
  padding: 1rem;
}
.side-nav__services span {
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
}

/** News */
.spotlight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spotlight__article .img-wrapper {
  overflow: hidden;
}
.spotlight__article img {
  width: 100%;
  position: relative;
  top: -2px;
  left: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.spotlight__article img:hover {
  transform: scale(1.1);
}
.spotlight__content {
  position: relative;
  background-color: white;
  padding: 4rem 3rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
}
.spotlight__content h2 {
  position: absolute;
  padding: 1.1rem 2rem;
  background-color: #0082f8;
  font-size: 1.6rem;
  top: -20px;
  left: 30px;
  transform: skewY(-5deg);
  color: white;
  font-weight: 600;
}
.spotlight__content h3 {
  font-size: 4.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.spotlight__content p {
  font-size: 1.5rem;
}

.actuality {
  display: flex;
  justify-content: space-between;
}

.actuality__article {
  width: 43%;
}
.actuality__article .actuality__img {
  position: relative;
}
.actuality__article .actuality__img .img-wrapper {
  overflow: hidden;
}
.actuality__article .actuality__img::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #e8e8e8;
  position: absolute;
  right: -5rem;
  top: 0;
}
.actuality__article img {
  width: 100%;
  position: relative;
  top: -2px;
  left: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.actuality__article img:hover {
  transform: scale(1.1);
}
.actuality__content {
  position: relative;
  background-color: white;
  padding: 2.5rem 1.2rem;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.actuality__content h2 {
  position: absolute;
  padding: 1.1rem 2rem;
  background-color: #0082f8;
  font-size: 1rem;
  top: -20px;
  left: 30px;
  transform: skewY(-5deg);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.actuality__content h3 {
  font-size: 1.8rem;
  font-weight: 800;
}

/*********** aside *****************/
.aside-news__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 5rem;
}

.aside-news__item {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  gap: 1.3rem;
  padding: 1.5rem 0 2.5rem;
  position: relative;
}
.aside-news__item::after {
  background: #e22c3f;
  bottom: 0;
  content: "";
  left: 1.6rem;
  position: absolute;
  top: 9.4rem;
  width: 0.1rem;
}
.aside-news__item .date,
.aside-news__item .month {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
  height: 2.8rem;
  line-height: 2.8rem;
}
.aside-news__item .content-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.aside-news__item .content {
  font-size: 1.5rem;
}
.aside-news__item .aside__showmore-btn {
  color: #e22c3f;
  padding: 3px 10px;
  width: 40%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
}
.aside-news__item .aside__showmore-btn::before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: -1;
}
.aside-news__item .aside__showmore-btn:hover::before {
  width: 100%;
  background-color: #e22c3f;
}
.aside-news__item .aside__showmore-btn:hover {
  color: white;
}
.aside-news__item .aside-news__item-img {
  width: 100%;
  margin-top: 1rem;
}

/*******************main end**************/
/*******************footer ***************/